<div class="container">
    <h1>Showcase Form Page</h1>    
    <form [formGroup]="form">
        <legend>Outro form</legend>
        <div class="form-grid">
            <app-form-text
                transform="cpf"                
                formControlName="cpf"
                label="Input CPF"
                placeholder="xxx.xxx.xxx-xx">
            </app-form-text>
            
            <app-form-text
                transform="cnpj"                
                formControlName="cnpj"
                label="Input CNPJ"
                placeholder="xx.xxx.xxx/xxxx-xx">
            </app-form-text>
            
            <app-form-text
                transform="date"                
                formControlName="data"
                label="Input Date"
                placeholder="dd/mm/yyyy">
            </app-form-text>
            
            <app-form-text
                transform="timeSpan"                
                formControlName="timeSpan"
                label="Input TimeSpan"
                placeholder=" hh:mm:ss.tttttttttt">
            </app-form-text>
            
            <app-form-text
                transform="datetime"                
                formControlName="dataHora"
                label="Input DateTime"
                placeholder="dd/mm/yyyy hh:mm:ss.tttttttttt">
            </app-form-text>
            
            <app-form-text
                transform="phonePtBr"                
                formControlName="telefone"
                label="Input Phone"
                placeholder="(DD) 9NNNN-NNNN or DD99NNNN-9NNNN">
            </app-form-text>
            
            <app-form-text
                formControlName="inputText"
                label="Input text">
            </app-form-text>

            <app-form-text
                formControlName="inputPassword"
                label="Input password">
            </app-form-text>

            <app-form-text
                formControlName="inputEmail"
                label="Input email">
            </app-form-text>

            <app-form-text
                formControlName="inputSearch"
                label="Input search">
            </app-form-text>

            <app-form-textarea
                class="full-width"
                formControlName="textArea"
                label="Text Area">
            </app-form-textarea>
            
            <app-form-editor
                class="full-width"
                formControlName="textEditor"
                label="Text Editor">
            </app-form-editor>   
        </div>
        <div class="form-row" formArrayName="checkbox">
            @for (opcao of opcoes; track opcao.id; let i = $index) {
            <app-form-checkbox 
            [formControlName]="i"
            inline="true" [value]="opcao.id">
                {{opcao.descricao}}
            </app-form-checkbox> 
            }
        </div>
        <div class="form-row">
            @for (opcao of opcoes; track opcao.id; let i = $index) {
            <app-form-radio 
            formControlName="radio"
            group="radio" switch="true"
            inline="true" [value]="opcao.id">
                {{opcao.descricao}}
            </app-form-radio> 
            }
        </div>
        <div class="form-actions mb-3">
            <button app-button theme="submit" type="submit"></button>
            <button app-button theme="cancel" type="button"></button>
        </div>
    </form>
</div>