.form-element {
    position: relative;
    &.action-clear input,
    &.action-show input,
    &.action-hide input {
        padding-right: 2.5rem;
    }

    &.action-clear.action-show,
    &.action-clear.action-hide {
        & input {
            padding-right: 5rem;
        }

        & button.action-show,
        & button.action-hide {
            right: 2.75rem;
        }
    }

    &.action-show button.action-show,
    &.action-hide button.action-hide,
    &.action-clear button.action-clear {
        display: inline-flex;
    }

    & button {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
        z-index: 2;
        display: none;
        align-items: center;
        justify-content: center;
        min-width: 1.75rem;
        min-height: 1.75rem;
        padding: 0;
        line-height: 1;
        &:focus {
            border-color: var(--bs-primary);
            box-shadow: 0 0 0 .15rem rgba(var(--bs-primary-rgb), 0.25);
        }
    }
}